<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Subnautica.Nautilus" version="1.0.0-pre.16" targetFramework="net472" />
  <package id="BepInEx.BaseLib" version="5.4.20" targetFramework="net472" />
  <package id="BepInEx.Core" version="5.4.21" targetFramework="net472" />
  <package id="HarmonyX" version="2.7.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Subnautica.GameLibs" version="71288.0.0-r.0" targetFramework="net472" />
  <package id="UnityEngine.Modules" version="2019.4.36" targetFramework="net472" developmentDependency="true" />
</packages>